# =========================
# Environment
# =========================
.env
.env.*
!.env.example

# =========================
# Node
# =========================
node_modules/
dist/
npm-debug.log*

# =========================
# Java / Gradle
# =========================
build/
.gradle/
out/

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# OS
# =========================
.DS_Store

# =========================
# Logs
# =========================
*.log

# =========================
# Runtime
# =========================
*.pid

# =========================
# Secrets
# =========================
application-local.yml
application-secret.yml
